<script>
  $(document).ready(function(){
    $('.custom-file-input').on('change',function(){
      var fileName = $(this).val().replace(/^.*[\\\/]/, '');
      $('.custom-file-control').html(fileName);
    });
  });
</script>
<div class="row justify-content-center">
  <h1>Barcode to Bib/Oclc</h1>
</div>
<div class="container">
  <div class="col">
    <div class="card border-info mb-3">
      <div class="card-body">
        <p class="card-text">Upload a text file with one barcode per line.</p>
        <a href="/example-uploads/example_barcodes.txt">Example file</a>
      </div>
    </div>
  </div>
  <div class="col">
    {{#if warning}}
    <div class="alert alert-danger" role="alert">{{{warning}}}</div>
    {{/if}}
    <form action="#" method="POST" enctype="multipart/form-data">
      <div class="input-group mb-3">
        <input type="file" class="custom-file-input" id="barcodeFile" name="barcodeFile" accept=".txt">
        <span class="custom-file-control pr-3" style="white-space: nowrap;">Select file... </span>
      </div>
      <div class="row justify-content-center">
        <div class="col-auto">
          <button type="submit" class="btn btn-success">Upload</button>
        </div>
      </div>
    </form>
  </div>
</div>